.login-form {
    padding: 4rem 1rem;
  
    mat-card{
      max-width: 350px;
      margin: 2rem auto;
      text-align: center;
      // height: 250px;
    }

  .example-full-width {
    width: 70%;
  }
  
  .btn-square-black{
    width: 50%;
  }

  .separator{
    margin-bottom: 2rem;
  }
  
  .btn{
    width: 50%;
    height: 50%;
  }
  .label-no-mail{
    font-size: 11px;
    padding-right: 2%;
  }
  .btn-link{
    padding-top: 0%;
  }
  
}