.chart-container {
    position: relative;    
    height: 40vh;
    width: 99%;
}
.chart-container-ice {    
    position: relative;
    height: 35vh;
    width: 100%;
}
.header-class{
    margin-top: 4%;
    text-align: center;
}
.table thead th {
    vertical-align: middle;
    text-align: center;
}
.table tbody td {
    text-align: center;
    vertical-align: middle;
}
.table tbody th {
    text-align: center;
    vertical-align: middle;
}
.table {
    border-color: white;
}
.card {
    margin-top: 3%;
    margin-left: -1.3%;
    border-radius: 17px;
    width: 102.3%;
    box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 15%) !important
}
.card-header {
    border-radius: 17px 17px 0px 0px;
}