// Colors
$black: #000;
$white: #fff;
$light: #fafafa;
$dark: #1a1a1a;

$grey: #eee;
$light-grey: #f7f7f7;
$dark-grey: #c4c4c4;

$red: #de0b1c;
$dark-red: #9a0000;
$light-green: #def0dd;
$green: #46aa42;
$dark-green: #448342;
$dark-blue: #00003c;
$blue: #015dab;
$orange: #ff5c36;
$dark-grey-bold: #494949;
$yellow: #ffa701;
$light-yellow: #fbf3da;

$shadow: 0px 4px 4px $grey;

// Breakpoints
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

//Fonts
$font-regular: 'Gotham Book';
$font-medium: 'Gotham Medium';
$font-bold: 'Gotham Bold';
