<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login"> Ir a Login </a>
  </li>

  <li>
    <a routerLink="/auth/registro"> Ir a Registro </a>
  </li>
  <li>
    <a routerLink="/plan-visita/clientes"> Ir a Clientes </a>
  </li>
  <li>
    <a routerLink="/plan-visita/cliente"> Ir a Historial Pedidos </a>
  </li>
  <li>
    <a routerLink="/plan-visita/lista"> Ir a Lista Clientes mostrar </a>
  </li>
  <li>
    <a routerLink="/plan-visita/buscar">
      Ir a buscar en la lista del plan de visita
    </a>
  </li>
  <li>
    <a routerLink="/plan-visita/home"> Ir a Inicio </a>
  </li>
  <li>
    <a routerLink="/plan-visita/mostrar"> Mostrar el plan de visita </a>
  </li>
  <li>
    <a routerLink="/plan-visita/credito"> Mostrar el credito plan de visita </a>
  </li>
  <li>
    <a routerLink="/plan-visita/indicadores">
      Mostrar los indicadores del plan de visita
    </a>
  </li>
  <li>
    <a routerLink="/plan-visita/precio-promocion">
      Mostrar el precion y las promociones del plan de visita
    </a>
  </li>
  <li>
    <a routerLink="/plan-visita/cliente-remunerativo">
      Mostrar el foto de éxito del rerporte remunerativo
    </a>
  </li>
  <li>
    <a routerLink="/gestion"> Mostrar la gestion del vendedor </a>
  </li>
</ul>
