<div class="login-form row align-items-center justify-content-center">
  <form autocomplete="off"
        >
  <mat-card>
    <mat-card-content>
      <h1>Registro</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Indroduce tu Nombre y Apelido" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Rut</mat-label>
        <input matInput placeholder="Indroduce tu rut" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Codigo de vendedor</mat-label>
        <input matInput placeholder="Indroduce Tu codigo" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Indroduce tu correo" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width separator">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Indroduce Tu contraseña" />
      </mat-form-field>
      <mat-form-field class="example-full-width separator">
        <mat-label> Confirmacion de tu contraseña</mat-label>
        <input matInput placeholder="Indroduce Tu clave" />
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Cancelar</button>
      <button mat-raised-button color="warm">Guardar</button>
    </mat-card-content>
  </mat-card>
</form>
</div>
