<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20 px"
>
  <div fxFlex="100">
    <div
      class="
        row-cols-1 row-cols-md-1
        g-4
        mt-3
        mb-5
        row
        align-items-center
        justify-content-center
      "
    >
      <div class="row mb-3">
        <div fxFlex="100">
          <div
            class="
              row-cols-1 row-cols-md-1
              g-4
              mt-2
              mb-5
              row
              align-items-center
              justify-content-center
            "
          >
            <div class="col-10">
              <div>
                <h1 style="text-align: center;">Reporte Remunerativo - Resumen General</h1>
                <div class="report-container " #reportContainer>
                </div>  
                <!--iframe
                  id="reportFrame"
                  width="540"
                  height="241"
                  title="Reporte Remunerativo"
                  src="https://app.powerbi.com/reportEmbed?reportId=312137a7-b4a6-4e0b-abb7-af888ebf0078&autoAuth=true&ctid=af5d7ac6-4cdf-4034-a02d-b7ac4a5757f7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D frameborder=0"
                  allowFullScreen="true"
                >
                </iframe-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
