@import "./styles/variales.scss";

// regular style toast
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";


html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $white;
  font-family: "Gotham Book", "Helvetica Neue", sans-serif;

  @media (max-width: $lg) {
    background-color: $white;
  }
}

.spacer {
  flex: 1 1 auto;
}

:root,
body {
  font-size: 10px;

  @media (max-width: $xxxl) {
    font-size: 9px;
  }

  @media (max-width: $xxl) {
    font-size: 8px;
  }

  @media (max-width: $xl) {
    font-size: 7.5px;
  }

  @media (max-width: $lg) {
    font-size: 10px;
  }
}

svg {
  width: 3.5rem;
  height: 3.5rem;
}

/* FONTS */

@font-face {
  font-family: "Gotham Book";
  src: url("./assets/fonts/gotham-book.otf");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("./assets/fonts/gotham-medium.ttf");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/gotham-bold.ttf");
}

html {
  font-family: "Gotham Book";
  @extend .scroll-blue;

  @media (max-width: $lg) {
    overflow: hidden;
  }
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham Medium";
}

p {
  margin-bottom: 0;
}

.strong {
  font-family: $font-bold;
}

a,
button {
  outline: none;

  &:focus {
    outline: none;
  }
}

li {
  outline: none;
}

.card {
  border: none;
}

.ka-card {
  border: 1px solid $grey;
  border-radius: 9.46524px;
}

.status {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 5px 10px;
  text-align: center;
  max-width: 150px;
  min-width: 80%;
  display: inline-block;

  &.CREATED,
  &.DELIVERED,
  &.FAILED,
  &.REGISTERED,
  &.PREPARING,
  &.TRANSIT {
    color: $yellow;
    font-weight: bold;
  }

  &.DELIVERED_CLT {
    color: $green;
    font-weight: bold;
  }

  &.RETURNED,
  &.BLOCKED {
    color: $red;
    font-weight: bold;
  }

  &.CANCELLED {
    background-color: transparent;
    color: $dark;
    font-weight: bold;
  }
}

/* OWL carousel */
@media (max-width: $lg) {
  .owl-carousel .owl-item img {
    width: auto !important;
  }
}

/* BUTTONS */

button {
  font-family: "Gotham Book";
}

.button-principal {
  padding: 10px;
  border: 2px solid $dark;
  border-radius: 3px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.7rem;
  max-width: 375px;
  outline: none;
}

.btn-transparent {
  @extend .button-principal;
  background-color: transparent;
  color: $dark;

  &:hover {
    color: $red;
  }

  &:disabled {
    color: $dark-grey;
    border: 2px solid $dark-grey;
    opacity: 0.9;
  }
}

.btn-black {
  @extend .button-principal;
  background-color: $dark;
  color: $white;
}

.btn-white {
  @extend .button-principal;
  background-color: $white;
  color: $dark;
}

.btn-square {
  font-size: 1.5rem;
  max-width: 375px;
  padding: 0.6rem 1rem;
  width: 100%;
  border: 1.5px solid $dark;
  border-radius: 3px;
  background-color: $white;
  color: $black;
  outline: none !important;
}

.btn-square-red {
  @extend .btn-square;
  background-color: $red;
  color: $white;
}

.btn-square-black {
  @extend .btn-square;
  background-color: $black;
  color: $white;

  &:disabled {
    background-color: $dark-grey;
    color: $white;
    border: 1.5px solid $dark-grey;
    opacity: 0.9;
  }
}

.btn-square-green {
  @extend .btn-square;
  background-color: $green;
  color: $white;

  &:disabled {
    background-color: $green;
    color: $white;
    border: 1.5px solid $green;
  }
}

.call-to-action {
  @extend .btn;
  font-size: 1.8rem;

  @media (max-width: $xxl) {
    font-size: 1.6rem;
  }

  img {
    width: 2.2rem;
    margin-right: 1rem;
    vertical-align: sub;
  }
}

.btn-chevron {
  font-size: 1.4rem;
  width: auto;
  padding: 0.6rem 1rem;
  border: none;
  background-color: transparent;
  outline: none !important;
  @extend .d-flex;
  @extend .align-items-center;

  svg {
    color: $red;
    width: 22px;
  }
}

/* FORMS */
input[type="text"] {
  border: none;
  border-bottom: 1px outset grey;
  border-style: solid;
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid grey;
}

input[type="password"] {
  border: none;
  border-bottom: 1px solid grey;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
  margin-right: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea {
  font-size: 1.6rem !important;
}

/// TITLES ///

.title-h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 28px;
  white-space: pre-line;
}

.title-h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 28px;
  word-break: break-all;
}

.title-h3 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2.8rem;

  @media (max-width: $lg) {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.title-main {
  font-weight: bold;
  font-size: 2.2rem !important;
  line-height: 2.8rem;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-self: flex-start;

  @media screen and (max-width: $lg) {
    font-size: 16px !important;
    line-height: 19px;
    margin-top: 1rem;
  }
}

.subtitle-main {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: $dark;
  align-self: flex-start;
  margin-bottom: 1.5rem;
}

// LINKS //

.dark-link {
  color: $dark;
  cursor: pointer;
}

.grey-link {
  color: #a1a1a1;
  cursor: pointer;
}

.blue-link {
  height: 37px;
  color: #007bff;
  cursor: pointer;
  background: none !important;
  border: none !important;
}

// OVERLAYS //
.login-client-num-popover {
  width: 400px;
  max-width: 400px;

  img {
    width: 100%;
  }

  @media screen and (max-width: $md) {
    width: 80%;
    max-width: 80%;
    margin-left: -15%;
  }

  @media screen and (max-width: $lg) {
    width: 80%;
    max-width: 80%;
    margin-left: -20%;
  }
}

.mat-datepicker-content {
  @media screen and (min-width: $sm) {
    left: 123px;
    top: 25px;
    position: relative;
  }
}

.mat-datepicker-popup {
  @media screen and (max-width: $sm) {
    left: 50% !important;
    transform: translate(-50%, 7%) !important;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, .8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

// SCROLLS //

.scroll-grey {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 0px;

    @media (max-width: $lg) {
      background-color: transparent;
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 2px;

    @media (max-width: $lg) {
      background-color: transparent;
    }
  }
}

.scroll-blue {
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f8f9fa;
    border-radius: 0px;

    @media (max-width: $lg) {
      background-color: transparent;
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #263248;
    border-radius: 2px;

    @media (max-width: $lg) {
      background-color: transparent;
    }
  }
}

.scroll-red {
  @extend .scroll-grey;

  &::-webkit-scrollbar-thumb {
    background: $red !important;
  }
}

// COMPONENT MODEL //

.ka-sidebar {
  height: 100vh;
  width: 100%;
  background-color: $white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-sidebar {
  background: $light-grey;

  @media (max-width: $lg) {
    background-color: $white;
  }

  border-radius: 10px;
  padding: 2rem 1.5rem;

  p,
  span {
    font-size: 1.4rem;

    @media (max-width: $lg) {
      font-size: 1.2rem;
    }
  }
}

// OTHERS //

.text-error {
  color: $red;
  display: block;
  font-size: 1.1rem !important;
}

.toast-container {
  opacity: 0.9;

  .ngx-toastr {
    border: none;
    font-size: 1.4rem;
  }

  .toast-error {
    background-color: #c82333;
  }

  .toast-success {
    background-color: green;
  }

  .toast-warning {
    background-color: $light-yellow;
    color: $dark-grey-bold !important;
    background-image: url("./assets/icons/alert-icon.png") !important;

    .toast-title {
      font-size: $font-bold;
    }
  }
}

// MODALS //

.ngbmodal-centered .modal-dialog {
  @extend .modal-dialog-centered;
}

.modal-content {
  .modal-header {
    border: none !important;
    padding-bottom: 0 !important;

    button {
      padding: 1rem 2rem !important;

      span {
        font-size: 2.5rem;
      }
    }
  }

  .modal-body {
    text-align: center;
    font-family: $font-bold;
    padding-bottom: 2rem;

    p {
      font-size: 1.4rem;

      @media (max-width: $sm) {
        font-size: 1.1rem;
      }
    }
  }

  .modal-footer {
    border: none !important;
    padding-bottom: 4rem;

    #add-scale-products {
      @media (max-width: $sm) {
        width: 100% !important;
      }
    }
  }
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;

  .mat-option {
    font-size: 1.5rem !important;
  }
}

// TOOLTIPS //
.reason-tooltip .tooltip-inner {
  font-size: 1.4rem !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
