@import "../../../../styles/variales.scss";


.mat-form-field{
  width: 70%;
}

.bgcolor{
  background-color: white;
  border-radius: 5px;
}

.control-frm {
  border-radius: 14px 14px 14px 14px;
  height: 6vh;
  border-bottom: 5px outset #1a1a1a;
}
